.sidebar-item {
  height: 55px;
  width: 100%;
  font-size: 15px;
  font-family: Poppins400;
  text-align: left;
  padding-left: 16%;
  color: rgba(255, 255, 255, 0.9);

  background-color: #0c131c;
  border: none;
  outline: none;

}

.sidebar-item:hover {
  cursor: pointer;
}